{#
available variables:
- title (string)
- modifier_class (string)
- content (slot)
- attributes (Drupal attributes object)
#}

{%
  set classes = [
  'my-card',
  modifier_class ? modifier_class,
]
%}

<cds-tile{{ attributes.addClass(classes) }}>
  {% if title %}
    <h3 class="cds--tile-content__title">{{ title }}</h3>
  {% endif %}

  <div class="cds--tile-content">
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
</cds-tile>
