@use '@carbon/styles' with (
  $font-path: '@ibm/plex'
);

@use '@carbon/styles/scss/themes' as *;
@use '@carbon/styles/scss/theme';
@use '@carbon/styles/scss/colors' as colors;
@use '@carbon/styles/scss/grid';

:root {
  @include theme.theme($white);
}

// Custom header color variables (your existing code)
cds-header-nav,
cds-header-menu,
cds-header-nav-item,
cds-header-menu-item {
  color: #{colors.$blue-60};
  --cds-text-primary: #{colors.$blue-60};
  --cds-link-primary: #{colors.$blue-60};
  --cds-link-primary-hover: #{colors.$blue-70};
  --cds-icon-primary: #{colors.$blue-60};
}

main.cds--content {
  padding-top: 48px;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 48px;
}

body {
  margin: 0;
  padding: 0;
}

// Pagination

cds-pagination[page-sizes-hidden] cds-page-sizes-select {
  display: none !important;
}

// Temp component spacing 1em
.tabs.primary,
#block-carbon-design-system-breadcrumbs,
#block-carbon-design-system-page-title,
.messages-list,
.views-element-container header {
  margin-bottom: 1em;
}

// Temp component spacing 2em
.field-group-carbon-structured-list {
  margin-bottom: 2em;
}

// Content top

.content_top {
  background-color: #f4f4f4;
  margin-bottom: 1rem;
  padding: 1rem;
}
