
{{ include ('carbon_design_system:ui_shell_header', {
  site_name: site_name,
  is_authenticated: logged_in,
  links: header_links
}) }}

<main class="cds--content">

  <a id="main-content" tabindex="-1"></a>{# A skip link target #}

  <cds-grid>
    <cds-row>
      <cds-column sm="4" md="8" lg="16">
        {{ page.content }}
      </cds-column>
    </cds-row>
  </cds-grid>
</main>

{% if page.footer %}
  <footer role="contentinfo">
    {{ page.footer }}
  </footer>
{% endif %}
