{#
/**
 * @file
 * Template for the Carbon Inline Notification (Callout) component.
 *
 * Available properties:
 * - kind: The style of the notification ('success', 'info', 'warning', 'error').
 * - title: The main headline.
 * - subtitle: The main body text/content.
 * - hideCloseButton: Boolean to hide the close icon.
 * - attributes: HTML attributes for the <cds-inline-notification> element.
 */
#}

{% set notification_kind = kind ?: 'info' %}

<cds-inline-notification
  kind="{{ kind }}"
  {% if hideCloseButton %}
    hide-close-button
  {% endif %}
  {{ attributes }}
>

  {% if headline %}
    <span slot="title">{{ headline }}</span>
  {% endif %}

  {% if subtitle %}
    <span slot="subtitle">{{ subtitle }}</span>
  {% endif %}

</cds-inline-notification>
